<div class="box">
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut alias omnis et
    reprehenderit perferendis voluptatem ea earum in provident nihil temporibus
    deleniti ad totam fuga adipisci, consequuntur rerum aperiam tenetur,
    deserunt soluta impedit sequi! Repellat autem quaerat, eligendi, placeat
    dolores reprehenderit illo deserunt sapiente similique, expedita soluta
    adipisci nobis. In facere sit optio ducimus molestias! Expedita, dolores
    perspiciatis? Sit obcaecati ab sapiente numquam optio vitae suscipit modi
    assumenda placeat blanditiis vel alias voluptates odio pariatur perspiciatis
    dignissimos ipsum sed rerum, reiciendis iusto laboriosam. Sunt deserunt
    facere corrupti cum repudiandae, optio iure harum quis. Quasi dolor illo,
    eum minima mollitia corporis.
  </p>
  <button class="btn" (click)="reload()">Submit </button>
</div>
